<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:minWidth="25px"
    android:minHeight="25px"
    android:background="@color/blanco"
    android:padding="5dp">
    <RelativeLayout
        android:id="@+id/loadingLayoutResultadoGeneral"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:gravity="center"
        android:alpha="0.5">
        <ProgressBar
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:indeterminate="true" />
    </RelativeLayout>
    <LinearLayout
        android:orientation="vertical"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:minWidth="25px"
        android:minHeight="25px"
        android:id="@+id/layoutResultadoGeneral"
        android:visibility="invisible"
        android:background="@color/blanco">
        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:background="@color/blanco"
            android:layout_alignParentBottom="true"
            android:gravity="bottom">
            <Spinner
                android:layout_width="250dp"
                android:layout_height="match_parent"
                android:id="@+id/spinnerPaginas" />
            <Button
                android:text="@string/GoPage"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/buttonGoPage"
                android:background="@color/azul" />
        </LinearLayout>
        <RelativeLayout
            android:id="@+id/loadingCambiarPagina"
            android:visibility="invisible"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:gravity="center"
            android:alpha="0.5">
            <ProgressBar
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:indeterminate="true" />
        </RelativeLayout>
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:minWidth="25px"
            android:minHeight="25px"
            android:id="@+id/layoutResultadoPagina"
            android:background="@color/blanco">
            <TextView
                android:id="@+id/textViewResultados"
                android:text=""
                android:textAppearance="?android:attr/textAppearanceSmall"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textColor="@android:color/background_dark"
                android:paddingBottom="5dp" />
            <ListView
                android:choiceMode="singleChoice"
                android:listSelector="@android:color/holo_blue_bright"
                android:minWidth="25px"
                android:minHeight="25px"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:id="@+id/listViewResultadoGeneral" />
        </LinearLayout>
    </LinearLayout>
</LinearLayout>